<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Инструкция</title>
</head>
{% extends "base.html" %}
{% block content %}
<body>
    <h1>Инструкция по использованию корпуса</h1>
    <div style="margin: 20px 20%">
    </div>
    <p> Корпус содержит тексты школьных сочинений с сайта
        <a
    href="https://mogu-pisat.ru/sochinenie/"
    >mogu-pisat.ru</a
       > с частеречной разметкой.
    </p>
    <h3>Поиск</h3>
    <p> Корпус поддерживает следующие типы запросов:
        <ol>
           <li>Поиск по лемме: введите слово без кавычек в любой форме: пример</li>
           <li>Поиск по словоформе: введите слово в двойных кавычках: "пример"</li>
           <li>Поиск по лемме и части речи: введите лемму и часть речи через + без пробела: говорить+PRTF</li>
           <li>Поиск по части речи: введите часть речи: VERB</li>
           <li>Поиск по биграммам и триграммам</li>
        </ol></p>
    <p>Вы можете искать биграммы и триграммы любого типа поиска и комбинировать их.
    Для поиска би-/триграмм напишите запросы через пробел: "я" говорить+VERB</p>
    <h3>Вывод</h3>
    <p>Поиск выводит число результатов, предложение с результатом поиска, автора, название текста, ссылку на текст.</p>
    <h3>Тегсет</h3>
    <p>Частеречная разметка корпуса производилась с помощью морфологического анализатора pymorphy2,
    который имеет следующие обозначения для граммем, см. таблицу ниже.
        Именно они используются для поиска по частям речи. </p>
    <table>
        <tr><th>Граммема</th><th>Значение</th><th>Примеры</th></tr>
        <tr><td>NOUN</td><td>имя существительное</td><td>хомяк</td></tr>
        <tr><td>ADJF</td><td>имя прилагательное (полное)</td><td>хороший</td></tr>
        <tr><td>ADJS</td><td>имя прилагательное (краткое)</td><td>хорош</td></tr>
        <tr><td>COMP</td><td>компаратив</td><td>лучше, получше, выше</td></tr>
        <tr><td>VERB</td><td>глагол (личная форма)</td><td>говорю, говорит, говорил</td></tr>
        <tr><td>INFN</td><td>глагол (инфинитив)</td><td>говорить, сказать</td></tr>
        <tr><td>PRTF</td><td>причастие (полное)</td><td>прочитавший, прочитанная</td></tr>
        <tr><td>PRTS</td><td>причастие (краткое)</td><td>прочитана</td></tr>
        <tr><td>GRND</td><td>деепричастие</td><td>прочитав, рассказывая</td></tr>
        <tr><td>NUMR</td><td>числительное</td><td>три, пятьдесят</td></tr>
        <tr><td>ADVB</td><td>наречие</td><td>круто</td></tr>
        <tr><td>NPRO</td><td>местоимение-существительное</td><td>он</td></tr>
        <tr><td>PRED</td><td>предикатив</td><td>некогда</td></tr>
        <tr><td>PREP</td><td>предлог</td><td>в</td></tr>
        <tr><td>CONJ</td><td>союз</td><td>и</td></tr>
        <tr><td>PRCL</td><td>частица</td><td>бы, же, лишь</td></tr>
        <tr><td>INTJ</td><td>междометие</td><td>ой</td></tr>
      </table>
    <form action="/">
        <input type="submit" value="Вернуться на главную страницу" />
    </form>
</body>
{% endblock %}
</html>
