<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
{% extends "base.html" %}
{% block content %}
<body>
    <h3>  Корпус школьных сочинений </h3>
    <p> Корпус создан в рамках проекта по предмету "Автоматическая обработка естественного языка".
        Корпус содержит тексты школьных сочинений с сайта
        <a    href="https://mogu-pisat.ru/sochinenie/">mogu-pisat.ru</a
       > с частеречной разметкой.
    </p>
    <p> Корпус поддерживает следующие типы запросов:
        <ol>
           <li>Поиск по лемме: введите слово без кавычек в любой форме: пример</li>
           <li>Поиск по словоформе: введите слово в двойных кавычках: "пример"</li>
           <li>Поиск по лемме и части речи: введите лемму и часть речи через + без пробела: говорить+PRTF</li>
           <li>Поиск по части речи: введите часть речи: VERB</li>
           <li>Поиск по биграммам и триграммам</li>
        </ol>
    <p>Время выполнения запросов с би-/триграммами: от 20 секунд до 5 минут. Пожалуйста, не обновляйте страницу, пока такой запрос обрабатывается</p>
    </p>

    <form action="/search_query" method="post">
    <p>
	    <input type="text" name="written_search">
	</p>
	<p>
	    <input type="submit" value="Поиск">
	</p>
    </form>
<!--    <form id="form" action="/" method="post">-->
<!--    <div class="form-control">-->
<!--&lt;!&ndash;            <input type="text"&ndash;&gt;-->
<!--&lt;!&ndash;                   id="search_query"&ndash;&gt;-->
<!--&lt;!&ndash;                   placeholder="Введите запрос" />&ndash;&gt;-->
<!--        </div>-->
<!--&lt;!&ndash;        <input type="submit" value="Поиск"/>&ndash;&gt;-->
<!--    </form>-->
<!--        <form class="form" action="/search_query">-->
<!--        <input type="submit" value="Поиск" />-->
<!--    </form>-->
    <p>  Более подробную инструкции по использованию корпуса Вы можете посмотреть здесь:</p>
    <form action="/instruction">
        <input type="submit" value="Инструкция" />
    </form>

</body>
{% endblock %}
</html>
